# Dataset images (1 Go - télécharger depuis Kaggle)
Images/

# Modèles entraînés (trop lourds pour GitHub)
outputs/*.pth

# Fichiers Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Environnements
.env
venv/
.venv/

# OS
.DS_Store
Thumbs.db
